/*
 * OrchesT
 * REST interface for interacting with Orchest Engine
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: teamtyrell@telekom-digital.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.telekom.orchest.client.api;

import io.telekom.orchest.client.invoker.ApiClient;
import io.telekom.orchest.client.invoker.ApiException;
import io.telekom.orchest.client.invoker.ApiResponse;
import io.telekom.orchest.client.invoker.Pair;

import io.telekom.orchest.client.model.DecisionInstanceScrollDTO;
import java.time.OffsetDateTime;
import io.telekom.orchest.client.model.PageDecisionInstanceDTO;
import io.telekom.orchest.client.model.ResponseDTODecisionInstanceDTO;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-08-24T17:25:50.013706+05:30[Asia/Kolkata]", comments = "Generator version: 7.6.0")
public class DecisionInstanceApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DecisionInstanceApi() {
    this(new ApiClient());
  }

  public DecisionInstanceApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param decisionInstanceId  (required)
   * @return ResponseDTODecisionInstanceDTO
   * @throws ApiException if fails to make API call
   */
  public ResponseDTODecisionInstanceDTO getDecisionInstance(String decisionInstanceId) throws ApiException {
    ApiResponse<ResponseDTODecisionInstanceDTO> localVarResponse = getDecisionInstanceWithHttpInfo(decisionInstanceId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param decisionInstanceId  (required)
   * @return ApiResponse&lt;ResponseDTODecisionInstanceDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTODecisionInstanceDTO> getDecisionInstanceWithHttpInfo(String decisionInstanceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDecisionInstanceRequestBuilder(decisionInstanceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDecisionInstance", localVarResponse);
        }
        return new ApiResponse<ResponseDTODecisionInstanceDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTODecisionInstanceDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDecisionInstanceRequestBuilder(String decisionInstanceId) throws ApiException {
    // verify the required parameter 'decisionInstanceId' is set
    if (decisionInstanceId == null) {
      throw new ApiException(400, "Missing the required parameter 'decisionInstanceId' when calling getDecisionInstance");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/decisionInstances/{decisionInstanceId}"
        .replace("{decisionInstanceId}", ApiClient.urlEncode(decisionInstanceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param decisionId  (optional)
   * @param from  (optional)
   * @param to  (optional)
   * @param version  (optional)
   * @param searchText  (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @param sort  (optional, default to -executedAt)
   * @return PageDecisionInstanceDTO
   * @throws ApiException if fails to make API call
   */
  public PageDecisionInstanceDTO getDecisionInstances(String decisionId, OffsetDateTime from, OffsetDateTime to, Integer version, String searchText, Integer page, Integer size, String sort) throws ApiException {
    ApiResponse<PageDecisionInstanceDTO> localVarResponse = getDecisionInstancesWithHttpInfo(decisionId, from, to, version, searchText, page, size, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param decisionId  (optional)
   * @param from  (optional)
   * @param to  (optional)
   * @param version  (optional)
   * @param searchText  (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @param sort  (optional, default to -executedAt)
   * @return ApiResponse&lt;PageDecisionInstanceDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PageDecisionInstanceDTO> getDecisionInstancesWithHttpInfo(String decisionId, OffsetDateTime from, OffsetDateTime to, Integer version, String searchText, Integer page, Integer size, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDecisionInstancesRequestBuilder(decisionId, from, to, version, searchText, page, size, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDecisionInstances", localVarResponse);
        }
        return new ApiResponse<PageDecisionInstanceDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PageDecisionInstanceDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDecisionInstancesRequestBuilder(String decisionId, OffsetDateTime from, OffsetDateTime to, Integer version, String searchText, Integer page, Integer size, String sort) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/decisionInstances/pageData";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "decisionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("decisionId", decisionId));
    localVarQueryParameterBaseName = "from";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("from", from));
    localVarQueryParameterBaseName = "to";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("to", to));
    localVarQueryParameterBaseName = "version";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("version", version));
    localVarQueryParameterBaseName = "searchText";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("searchText", searchText));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("size", size));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param to Exclusive end offset (required)
   * @param decisionId  (optional)
   * @param version  (optional)
   * @param searchText  (optional)
   * @param executedFrom  (optional)
   * @param executedTo  (optional)
   * @param from Inclusive 0-based offset (optional, default to 0)
   * @param sort  (optional, default to -executedAt)
   * @return DecisionInstanceScrollDTO
   * @throws ApiException if fails to make API call
   */
  public DecisionInstanceScrollDTO scrollDecisionInstances(Integer to, String decisionId, Integer version, String searchText, OffsetDateTime executedFrom, OffsetDateTime executedTo, Integer from, String sort) throws ApiException {
    ApiResponse<DecisionInstanceScrollDTO> localVarResponse = scrollDecisionInstancesWithHttpInfo(to, decisionId, version, searchText, executedFrom, executedTo, from, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param to Exclusive end offset (required)
   * @param decisionId  (optional)
   * @param version  (optional)
   * @param searchText  (optional)
   * @param executedFrom  (optional)
   * @param executedTo  (optional)
   * @param from Inclusive 0-based offset (optional, default to 0)
   * @param sort  (optional, default to -executedAt)
   * @return ApiResponse&lt;DecisionInstanceScrollDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionInstanceScrollDTO> scrollDecisionInstancesWithHttpInfo(Integer to, String decisionId, Integer version, String searchText, OffsetDateTime executedFrom, OffsetDateTime executedTo, Integer from, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scrollDecisionInstancesRequestBuilder(to, decisionId, version, searchText, executedFrom, executedTo, from, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scrollDecisionInstances", localVarResponse);
        }
        return new ApiResponse<DecisionInstanceScrollDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DecisionInstanceScrollDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scrollDecisionInstancesRequestBuilder(Integer to, String decisionId, Integer version, String searchText, OffsetDateTime executedFrom, OffsetDateTime executedTo, Integer from, String sort) throws ApiException {
    // verify the required parameter 'to' is set
    if (to == null) {
      throw new ApiException(400, "Missing the required parameter 'to' when calling scrollDecisionInstances");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/decisionInstances/scroll";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "decisionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("decisionId", decisionId));
    localVarQueryParameterBaseName = "version";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("version", version));
    localVarQueryParameterBaseName = "searchText";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("searchText", searchText));
    localVarQueryParameterBaseName = "executedFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("executedFrom", executedFrom));
    localVarQueryParameterBaseName = "executedTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("executedTo", executedTo));
    localVarQueryParameterBaseName = "from";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("from", from));
    localVarQueryParameterBaseName = "to";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("to", to));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
