/*
 * OrchesT
 * REST interface for interacting with Orchest Engine
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: teamtyrell@telekom-digital.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.telekom.orchest.client.api;

import io.telekom.orchest.client.invoker.ApiClient;
import io.telekom.orchest.client.invoker.ApiException;
import io.telekom.orchest.client.invoker.ApiResponse;
import io.telekom.orchest.client.invoker.Pair;

import io.telekom.orchest.client.model.Approver;
import io.telekom.orchest.client.model.DeploymentActionRequest;
import io.telekom.orchest.client.model.DeploymentApprovalRequest;
import io.telekom.orchest.client.model.PageDeploymentApproval;
import io.telekom.orchest.client.model.ResponseDTOApprover;
import io.telekom.orchest.client.model.ResponseDTODeploymentApproval;
import io.telekom.orchest.client.model.ResponseDTOListApprover;
import io.telekom.orchest.client.model.ResponseDTOListDeploymentApproval;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-08-24T17:25:50.013706+05:30[Asia/Kolkata]", comments = "Generator version: 7.6.0")
public class DeploymentApprovals {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DeploymentApprovals() {
    this(new ApiClient());
  }

  public DeploymentApprovals(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param approver  (required)
   * @return ResponseDTOApprover
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOApprover addApprover(Approver approver) throws ApiException {
    ApiResponse<ResponseDTOApprover> localVarResponse = addApproverWithHttpInfo(approver);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param approver  (required)
   * @return ApiResponse&lt;ResponseDTOApprover&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOApprover> addApproverWithHttpInfo(Approver approver) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = addApproverRequestBuilder(approver);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("addApprover", localVarResponse);
        }
        return new ApiResponse<ResponseDTOApprover>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOApprover>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder addApproverRequestBuilder(Approver approver) throws ApiException {
    // verify the required parameter 'approver' is set
    if (approver == null) {
      throw new ApiException(400, "Missing the required parameter 'approver' when calling addApprover");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/addApprovers";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(approver);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param approverId  (required)
   * @param approverEmail  (required)
   * @return ResponseDTOApprover
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOApprover deleteApprover(String approverId, String approverEmail) throws ApiException {
    ApiResponse<ResponseDTOApprover> localVarResponse = deleteApproverWithHttpInfo(approverId, approverEmail);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param approverId  (required)
   * @param approverEmail  (required)
   * @return ApiResponse&lt;ResponseDTOApprover&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOApprover> deleteApproverWithHttpInfo(String approverId, String approverEmail) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteApproverRequestBuilder(approverId, approverEmail);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteApprover", localVarResponse);
        }
        return new ApiResponse<ResponseDTOApprover>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOApprover>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteApproverRequestBuilder(String approverId, String approverEmail) throws ApiException {
    // verify the required parameter 'approverId' is set
    if (approverId == null) {
      throw new ApiException(400, "Missing the required parameter 'approverId' when calling deleteApprover");
    }
    // verify the required parameter 'approverEmail' is set
    if (approverEmail == null) {
      throw new ApiException(400, "Missing the required parameter 'approverEmail' when calling deleteApprover");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/removeApprover";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "approverId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("approverId", approverId));
    localVarQueryParameterBaseName = "approverEmail";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("approverEmail", approverEmail));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param approvedState  (required)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @return PageDeploymentApproval
   * @throws ApiException if fails to make API call
   */
  public PageDeploymentApproval getApprovals(String approvedState, Integer page, Integer size) throws ApiException {
    ApiResponse<PageDeploymentApproval> localVarResponse = getApprovalsWithHttpInfo(approvedState, page, size);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param approvedState  (required)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @return ApiResponse&lt;PageDeploymentApproval&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PageDeploymentApproval> getApprovalsWithHttpInfo(String approvedState, Integer page, Integer size) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getApprovalsRequestBuilder(approvedState, page, size);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getApprovals", localVarResponse);
        }
        return new ApiResponse<PageDeploymentApproval>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PageDeploymentApproval>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getApprovalsRequestBuilder(String approvedState, Integer page, Integer size) throws ApiException {
    // verify the required parameter 'approvedState' is set
    if (approvedState == null) {
      throw new ApiException(400, "Missing the required parameter 'approvedState' when calling getApprovals");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "approvedState";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("approvedState", approvedState));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("size", size));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param stateCSV  (optional, default to REQUESTED)
   * @return ResponseDTOListDeploymentApproval
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOListDeploymentApproval getApprovalsByReviewer(String stateCSV) throws ApiException {
    ApiResponse<ResponseDTOListDeploymentApproval> localVarResponse = getApprovalsByReviewerWithHttpInfo(stateCSV);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param stateCSV  (optional, default to REQUESTED)
   * @return ApiResponse&lt;ResponseDTOListDeploymentApproval&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOListDeploymentApproval> getApprovalsByReviewerWithHttpInfo(String stateCSV) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getApprovalsByReviewerRequestBuilder(stateCSV);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getApprovalsByReviewer", localVarResponse);
        }
        return new ApiResponse<ResponseDTOListDeploymentApproval>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOListDeploymentApproval>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getApprovalsByReviewerRequestBuilder(String stateCSV) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/reviews";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "stateCSV";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("stateCSV", stateCSV));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param processId  (required)
   * @return ResponseDTOApprover
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOApprover getApprover(String processId) throws ApiException {
    ApiResponse<ResponseDTOApprover> localVarResponse = getApproverWithHttpInfo(processId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processId  (required)
   * @return ApiResponse&lt;ResponseDTOApprover&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOApprover> getApproverWithHttpInfo(String processId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getApproverRequestBuilder(processId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getApprover", localVarResponse);
        }
        return new ApiResponse<ResponseDTOApprover>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOApprover>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getApproverRequestBuilder(String processId) throws ApiException {
    // verify the required parameter 'processId' is set
    if (processId == null) {
      throw new ApiException(400, "Missing the required parameter 'processId' when calling getApprover");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/getApprovers";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "processId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processId", processId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @return ResponseDTOListApprover
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOListApprover getDefinitionsForUser() throws ApiException {
    ApiResponse<ResponseDTOListApprover> localVarResponse = getDefinitionsForUserWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;ResponseDTOListApprover&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOListApprover> getDefinitionsForUserWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDefinitionsForUserRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDefinitionsForUser", localVarResponse);
        }
        return new ApiResponse<ResponseDTOListApprover>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOListApprover>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDefinitionsForUserRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/getDefinitions";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param deploymentApprovalRequest  (required)
   * @return ResponseDTODeploymentApproval
   * @throws ApiException if fails to make API call
   */
  public ResponseDTODeploymentApproval requestApproval(DeploymentApprovalRequest deploymentApprovalRequest) throws ApiException {
    ApiResponse<ResponseDTODeploymentApproval> localVarResponse = requestApprovalWithHttpInfo(deploymentApprovalRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param deploymentApprovalRequest  (required)
   * @return ApiResponse&lt;ResponseDTODeploymentApproval&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTODeploymentApproval> requestApprovalWithHttpInfo(DeploymentApprovalRequest deploymentApprovalRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = requestApprovalRequestBuilder(deploymentApprovalRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("requestApproval", localVarResponse);
        }
        return new ApiResponse<ResponseDTODeploymentApproval>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTODeploymentApproval>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder requestApprovalRequestBuilder(DeploymentApprovalRequest deploymentApprovalRequest) throws ApiException {
    // verify the required parameter 'deploymentApprovalRequest' is set
    if (deploymentApprovalRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'deploymentApprovalRequest' when calling requestApproval");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/requestApproval";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(deploymentApprovalRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param deploymentActionRequest  (required)
   * @return ResponseDTODeploymentApproval
   * @throws ApiException if fails to make API call
   */
  public ResponseDTODeploymentApproval submitApproval(DeploymentActionRequest deploymentActionRequest) throws ApiException {
    ApiResponse<ResponseDTODeploymentApproval> localVarResponse = submitApprovalWithHttpInfo(deploymentActionRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param deploymentActionRequest  (required)
   * @return ApiResponse&lt;ResponseDTODeploymentApproval&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTODeploymentApproval> submitApprovalWithHttpInfo(DeploymentActionRequest deploymentActionRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitApprovalRequestBuilder(deploymentActionRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitApproval", localVarResponse);
        }
        return new ApiResponse<ResponseDTODeploymentApproval>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTODeploymentApproval>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitApprovalRequestBuilder(DeploymentActionRequest deploymentActionRequest) throws ApiException {
    // verify the required parameter 'deploymentActionRequest' is set
    if (deploymentActionRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'deploymentActionRequest' when calling submitApproval");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/deploymentApprovals/submitApproval";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(deploymentActionRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
