/*
 * OrchesT
 * REST interface for interacting with Orchest Engine
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: teamtyrell@telekom-digital.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.telekom.orchest.client.api;

import io.telekom.orchest.client.invoker.ApiClient;
import io.telekom.orchest.client.invoker.ApiException;
import io.telekom.orchest.client.invoker.ApiResponse;
import io.telekom.orchest.client.invoker.Pair;

import io.telekom.orchest.client.model.BatchInstanceRequest;
import java.time.OffsetDateTime;
import io.telekom.orchest.client.model.PageIncidentDTO;
import io.telekom.orchest.client.model.ResponseDTOIncidentDTO;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-08-24T17:25:50.013706+05:30[Asia/Kolkata]", comments = "Generator version: 7.6.0")
public class IncidentManagementApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public IncidentManagementApi() {
    this(new ApiClient());
  }

  public IncidentManagementApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param processInstanceId  (required)
   * @return ResponseDTOIncidentDTO
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOIncidentDTO getIncident(String processInstanceId) throws ApiException {
    ApiResponse<ResponseDTOIncidentDTO> localVarResponse = getIncidentWithHttpInfo(processInstanceId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processInstanceId  (required)
   * @return ApiResponse&lt;ResponseDTOIncidentDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOIncidentDTO> getIncidentWithHttpInfo(String processInstanceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getIncidentRequestBuilder(processInstanceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getIncident", localVarResponse);
        }
        return new ApiResponse<ResponseDTOIncidentDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOIncidentDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getIncidentRequestBuilder(String processInstanceId) throws ApiException {
    // verify the required parameter 'processInstanceId' is set
    if (processInstanceId == null) {
      throw new ApiException(400, "Missing the required parameter 'processInstanceId' when calling getIncident");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/incidents/{processInstanceId}"
        .replace("{processInstanceId}", ApiClient.urlEncode(processInstanceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param processDefinitionId  (optional)
   * @param version  (optional)
   * @param searchText  (optional)
   * @param from  (optional)
   * @param to  (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @param sort  (optional, default to -createdAt)
   * @return PageIncidentDTO
   * @throws ApiException if fails to make API call
   */
  public PageIncidentDTO getIncidents(String processDefinitionId, Integer version, String searchText, OffsetDateTime from, OffsetDateTime to, Integer page, Integer size, String sort) throws ApiException {
    ApiResponse<PageIncidentDTO> localVarResponse = getIncidentsWithHttpInfo(processDefinitionId, version, searchText, from, to, page, size, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processDefinitionId  (optional)
   * @param version  (optional)
   * @param searchText  (optional)
   * @param from  (optional)
   * @param to  (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @param sort  (optional, default to -createdAt)
   * @return ApiResponse&lt;PageIncidentDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PageIncidentDTO> getIncidentsWithHttpInfo(String processDefinitionId, Integer version, String searchText, OffsetDateTime from, OffsetDateTime to, Integer page, Integer size, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getIncidentsRequestBuilder(processDefinitionId, version, searchText, from, to, page, size, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getIncidents", localVarResponse);
        }
        return new ApiResponse<PageIncidentDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PageIncidentDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getIncidentsRequestBuilder(String processDefinitionId, Integer version, String searchText, OffsetDateTime from, OffsetDateTime to, Integer page, Integer size, String sort) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/incidents";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "processDefinitionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionId", processDefinitionId));
    localVarQueryParameterBaseName = "version";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("version", version));
    localVarQueryParameterBaseName = "searchText";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("searchText", searchText));
    localVarQueryParameterBaseName = "from";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("from", from));
    localVarQueryParameterBaseName = "to";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("to", to));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("size", size));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param processInstanceId  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String resolveIncident1(String processInstanceId) throws ApiException {
    ApiResponse<String> localVarResponse = resolveIncident1WithHttpInfo(processInstanceId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processInstanceId  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> resolveIncident1WithHttpInfo(String processInstanceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = resolveIncident1RequestBuilder(processInstanceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("resolveIncident1", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder resolveIncident1RequestBuilder(String processInstanceId) throws ApiException {
    // verify the required parameter 'processInstanceId' is set
    if (processInstanceId == null) {
      throw new ApiException(400, "Missing the required parameter 'processInstanceId' when calling resolveIncident1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/incidents/resolve/{processInstanceId}"
        .replace("{processInstanceId}", ApiClient.urlEncode(processInstanceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String resolveIncidentsBatch(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    ApiResponse<String> localVarResponse = resolveIncidentsBatchWithHttpInfo(batchInstanceRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> resolveIncidentsBatchWithHttpInfo(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = resolveIncidentsBatchRequestBuilder(batchInstanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("resolveIncidentsBatch", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder resolveIncidentsBatchRequestBuilder(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    // verify the required parameter 'batchInstanceRequest' is set
    if (batchInstanceRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'batchInstanceRequest' when calling resolveIncidentsBatch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/incidents/resolve";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(batchInstanceRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
