/*
 * OrchesT
 * REST interface for interacting with Orchest Engine
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: teamtyrell@telekom-digital.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.telekom.orchest.client.api;

import io.telekom.orchest.client.invoker.ApiClient;
import io.telekom.orchest.client.invoker.ApiException;
import io.telekom.orchest.client.invoker.ApiResponse;
import io.telekom.orchest.client.invoker.Pair;

import io.telekom.orchest.client.model.BatchInstanceRequest;
import io.telekom.orchest.client.model.CancelInstanceRequest;
import java.time.OffsetDateTime;
import io.telekom.orchest.client.model.PageString;
import io.telekom.orchest.client.model.ProcessInstanceScrollDTO;
import io.telekom.orchest.client.model.ProcessInvocationRequest;
import io.telekom.orchest.client.model.ResponseDTOProcessInstanceDTO;
import io.telekom.orchest.client.model.ResponseDTOProcessInvocationResponse;
import io.telekom.orchest.client.model.RetryProcessEvent;
import io.telekom.orchest.client.model.UpdateInstanceRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-08-24T17:25:50.013706+05:30[Asia/Kolkata]", comments = "Generator version: 7.6.0")
public class ProcessInstanceApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ProcessInstanceApi() {
    this(new ApiClient());
  }

  public ProcessInstanceApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param cancelInstanceRequest  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String cancelInstances(CancelInstanceRequest cancelInstanceRequest) throws ApiException {
    ApiResponse<String> localVarResponse = cancelInstancesWithHttpInfo(cancelInstanceRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param cancelInstanceRequest  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> cancelInstancesWithHttpInfo(CancelInstanceRequest cancelInstanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = cancelInstancesRequestBuilder(cancelInstanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("cancelInstances", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder cancelInstancesRequestBuilder(CancelInstanceRequest cancelInstanceRequest) throws ApiException {
    // verify the required parameter 'cancelInstanceRequest' is set
    if (cancelInstanceRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'cancelInstanceRequest' when calling cancelInstances");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/cancelInstances";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(cancelInstanceRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String cancelInstancesBatch(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    ApiResponse<String> localVarResponse = cancelInstancesBatchWithHttpInfo(batchInstanceRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> cancelInstancesBatchWithHttpInfo(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = cancelInstancesBatchRequestBuilder(batchInstanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("cancelInstancesBatch", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder cancelInstancesBatchRequestBuilder(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    // verify the required parameter 'batchInstanceRequest' is set
    if (batchInstanceRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'batchInstanceRequest' when calling cancelInstancesBatch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/cancelBatch";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(batchInstanceRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param processInvocationRequest  (required)
   * @return ResponseDTOProcessInvocationResponse
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOProcessInvocationResponse createProcessInstance(ProcessInvocationRequest processInvocationRequest) throws ApiException {
    ApiResponse<ResponseDTOProcessInvocationResponse> localVarResponse = createProcessInstanceWithHttpInfo(processInvocationRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processInvocationRequest  (required)
   * @return ApiResponse&lt;ResponseDTOProcessInvocationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOProcessInvocationResponse> createProcessInstanceWithHttpInfo(ProcessInvocationRequest processInvocationRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createProcessInstanceRequestBuilder(processInvocationRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createProcessInstance", localVarResponse);
        }
        return new ApiResponse<ResponseDTOProcessInvocationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOProcessInvocationResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createProcessInstanceRequestBuilder(ProcessInvocationRequest processInvocationRequest) throws ApiException {
    // verify the required parameter 'processInvocationRequest' is set
    if (processInvocationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'processInvocationRequest' when calling createProcessInstance");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/create";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(processInvocationRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param processDefinitionId  (optional)
   * @param version  (optional)
   * @param state  (optional)
   * @param searchText  (optional)
   * @param createdFrom Inclusive lower bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param createdTo Exclusive upper bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @param sort  (optional, default to -createdAt)
   * @return PageString
   * @throws ApiException if fails to make API call
   */
  public PageString getPageData(String processDefinitionId, Integer version, String state, String searchText, OffsetDateTime createdFrom, OffsetDateTime createdTo, Integer page, Integer size, String sort) throws ApiException {
    ApiResponse<PageString> localVarResponse = getPageDataWithHttpInfo(processDefinitionId, version, state, searchText, createdFrom, createdTo, page, size, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processDefinitionId  (optional)
   * @param version  (optional)
   * @param state  (optional)
   * @param searchText  (optional)
   * @param createdFrom Inclusive lower bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param createdTo Exclusive upper bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 10)
   * @param sort  (optional, default to -createdAt)
   * @return ApiResponse&lt;PageString&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PageString> getPageDataWithHttpInfo(String processDefinitionId, Integer version, String state, String searchText, OffsetDateTime createdFrom, OffsetDateTime createdTo, Integer page, Integer size, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPageDataRequestBuilder(processDefinitionId, version, state, searchText, createdFrom, createdTo, page, size, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPageData", localVarResponse);
        }
        return new ApiResponse<PageString>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PageString>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPageDataRequestBuilder(String processDefinitionId, Integer version, String state, String searchText, OffsetDateTime createdFrom, OffsetDateTime createdTo, Integer page, Integer size, String sort) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/pageData";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "processDefinitionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionId", processDefinitionId));
    localVarQueryParameterBaseName = "version";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("version", version));
    localVarQueryParameterBaseName = "state";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("state", state));
    localVarQueryParameterBaseName = "searchText";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("searchText", searchText));
    localVarQueryParameterBaseName = "createdFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdFrom", createdFrom));
    localVarQueryParameterBaseName = "createdTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdTo", createdTo));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("size", size));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param processInstanceId  (required)
   * @return ResponseDTOProcessInstanceDTO
   * @throws ApiException if fails to make API call
   */
  public ResponseDTOProcessInstanceDTO getProcessInstance(String processInstanceId) throws ApiException {
    ApiResponse<ResponseDTOProcessInstanceDTO> localVarResponse = getProcessInstanceWithHttpInfo(processInstanceId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param processInstanceId  (required)
   * @return ApiResponse&lt;ResponseDTOProcessInstanceDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResponseDTOProcessInstanceDTO> getProcessInstanceWithHttpInfo(String processInstanceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getProcessInstanceRequestBuilder(processInstanceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getProcessInstance", localVarResponse);
        }
        return new ApiResponse<ResponseDTOProcessInstanceDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResponseDTOProcessInstanceDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getProcessInstanceRequestBuilder(String processInstanceId) throws ApiException {
    // verify the required parameter 'processInstanceId' is set
    if (processInstanceId == null) {
      throw new ApiException(400, "Missing the required parameter 'processInstanceId' when calling getProcessInstance");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/id/{processInstanceId}"
        .replace("{processInstanceId}", ApiClient.urlEncode(processInstanceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param updateInstanceRequest  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String modifyInstance(UpdateInstanceRequest updateInstanceRequest) throws ApiException {
    ApiResponse<String> localVarResponse = modifyInstanceWithHttpInfo(updateInstanceRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param updateInstanceRequest  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> modifyInstanceWithHttpInfo(UpdateInstanceRequest updateInstanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = modifyInstanceRequestBuilder(updateInstanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("modifyInstance", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder modifyInstanceRequestBuilder(UpdateInstanceRequest updateInstanceRequest) throws ApiException {
    // verify the required parameter 'updateInstanceRequest' is set
    if (updateInstanceRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'updateInstanceRequest' when calling modifyInstance");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/modifyInstance";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updateInstanceRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String resolveIncident(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    ApiResponse<String> localVarResponse = resolveIncidentWithHttpInfo(batchInstanceRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> resolveIncidentWithHttpInfo(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = resolveIncidentRequestBuilder(batchInstanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("resolveIncident", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder resolveIncidentRequestBuilder(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    // verify the required parameter 'batchInstanceRequest' is set
    if (batchInstanceRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'batchInstanceRequest' when calling resolveIncident");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/resolveIncident";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "batchInstanceRequest";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "processInstanceIds", batchInstanceRequest.getProcessInstanceIds()));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param retryProcessEvent  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String retryInstance(RetryProcessEvent retryProcessEvent) throws ApiException {
    ApiResponse<String> localVarResponse = retryInstanceWithHttpInfo(retryProcessEvent);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param retryProcessEvent  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> retryInstanceWithHttpInfo(RetryProcessEvent retryProcessEvent) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = retryInstanceRequestBuilder(retryProcessEvent);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("retryInstance", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder retryInstanceRequestBuilder(RetryProcessEvent retryProcessEvent) throws ApiException {
    // verify the required parameter 'retryProcessEvent' is set
    if (retryProcessEvent == null) {
      throw new ApiException(400, "Missing the required parameter 'retryProcessEvent' when calling retryInstance");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/retry";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(retryProcessEvent);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String retryInstancesBatch(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    ApiResponse<String> localVarResponse = retryInstancesBatchWithHttpInfo(batchInstanceRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param batchInstanceRequest  (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> retryInstancesBatchWithHttpInfo(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = retryInstancesBatchRequestBuilder(batchInstanceRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("retryInstancesBatch", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder retryInstancesBatchRequestBuilder(BatchInstanceRequest batchInstanceRequest) throws ApiException {
    // verify the required parameter 'batchInstanceRequest' is set
    if (batchInstanceRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'batchInstanceRequest' when calling retryInstancesBatch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/retryBatch";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "*/*");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(batchInstanceRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param to Exclusive end offset (required)
   * @param processDefinitionId  (optional)
   * @param version  (optional)
   * @param state  (optional)
   * @param searchText  (optional)
   * @param createdFrom Inclusive lower bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param createdTo Exclusive upper bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param from Inclusive 0-based offset (optional, default to 0)
   * @param sort  (optional, default to -createdAt)
   * @return ProcessInstanceScrollDTO
   * @throws ApiException if fails to make API call
   */
  public ProcessInstanceScrollDTO scrollProcessInstances(Integer to, String processDefinitionId, Integer version, String state, String searchText, OffsetDateTime createdFrom, OffsetDateTime createdTo, Integer from, String sort) throws ApiException {
    ApiResponse<ProcessInstanceScrollDTO> localVarResponse = scrollProcessInstancesWithHttpInfo(to, processDefinitionId, version, state, searchText, createdFrom, createdTo, from, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param to Exclusive end offset (required)
   * @param processDefinitionId  (optional)
   * @param version  (optional)
   * @param state  (optional)
   * @param searchText  (optional)
   * @param createdFrom Inclusive lower bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param createdTo Exclusive upper bound on createdAt (ISO-8601 offset date-time) (optional)
   * @param from Inclusive 0-based offset (optional, default to 0)
   * @param sort  (optional, default to -createdAt)
   * @return ApiResponse&lt;ProcessInstanceScrollDTO&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ProcessInstanceScrollDTO> scrollProcessInstancesWithHttpInfo(Integer to, String processDefinitionId, Integer version, String state, String searchText, OffsetDateTime createdFrom, OffsetDateTime createdTo, Integer from, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scrollProcessInstancesRequestBuilder(to, processDefinitionId, version, state, searchText, createdFrom, createdTo, from, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scrollProcessInstances", localVarResponse);
        }
        return new ApiResponse<ProcessInstanceScrollDTO>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ProcessInstanceScrollDTO>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scrollProcessInstancesRequestBuilder(Integer to, String processDefinitionId, Integer version, String state, String searchText, OffsetDateTime createdFrom, OffsetDateTime createdTo, Integer from, String sort) throws ApiException {
    // verify the required parameter 'to' is set
    if (to == null) {
      throw new ApiException(400, "Missing the required parameter 'to' when calling scrollProcessInstances");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/processInstances/scroll";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "processDefinitionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionId", processDefinitionId));
    localVarQueryParameterBaseName = "version";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("version", version));
    localVarQueryParameterBaseName = "state";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("state", state));
    localVarQueryParameterBaseName = "searchText";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("searchText", searchText));
    localVarQueryParameterBaseName = "createdFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdFrom", createdFrom));
    localVarQueryParameterBaseName = "createdTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdTo", createdTo));
    localVarQueryParameterBaseName = "from";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("from", from));
    localVarQueryParameterBaseName = "to";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("to", to));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
