window.__ORCHEST_RUNTIME_CONFIG__ = {
  VITE_BASEPATH: "${VITE_BASEPATH}",
  VITE_AI_API_URL: "${VITE_AI_API_URL}",
  VITE_BPMN_PROMPT_BASEPATH: "${VITE_BPMN_PROMPT_BASEPATH}",
  VITE_BYPASS_LOGIN: "${VITE_BYPASS_LOGIN}",
  VITE_SSO_CLIENT_ID: "${VITE_SSO_CLIENT_ID}",
  VITE_MICROSOFT_AUTHORITY: "${VITE_MICROSOFT_AUTHORITY}",
  VITE_SSO_TENANT_ID: "${VITE_SSO_TENANT_ID}",
  VITE_REDIRECT_URI: "${VITE_REDIRECT_URI}",
  VITE_SSO_LOGOUT_REDIRECT_URI: "${VITE_SSO_LOGOUT_REDIRECT_URI}",
  VITE_ALLOWED_EXTERNAL_DOMAINS: "${VITE_ALLOWED_EXTERNAL_DOMAINS}",
  VITE_MODE: "${VITE_MODE}",
  VITE_ENABLE_QUOTE_BANNER: "${VITE_ENABLE_QUOTE_BANNER}",
  VITE_ENGINE_ACTUATOR_URL: "${VITE_ENGINE_ACTUATOR_URL}",
};
