.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-3);
  background-color: var(--color-gray-50);
  border-radius: var(--border-radius-lg);
  border: var(--border-width-1) solid var(--color-gray-100);
}

:global(.dark) .header {
  background-color: var(--color-gray-800-alpha-50);
  border-color: var(--color-gray-600);
}
